body{
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #bdddfc, #384959);
    color: #0c0e10;
    padding: 30px;
    text-align: center;
    min-height: 100vh;
}

.profile{
    display: flex;
    gap: 20px;
}

h2{
    text-align:left;
}

input{ 
    padding:8px; 
    margin:5px;
    border:none;
    border-radius: 5px;
}

button { 
    padding:8px 15px; 
    background: #4a4a4a; 
    border:none;
    border-radius: 10px;
}

img{
    width: 150px;
    border-radius: 5px;
}

.info{
    text-align: left;
    display: flex;
    flex-direction: column;
}